<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add 
            name="ConAppWithDB.Properties.Settings.KsTestDbConnectionString"
            connectionString="Data Source=|DataDirectory|\KsTestDb.sdf;Password=krisland"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>